{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Report Manager{% endblock %}</title>
         {% block stylesheets %}
            <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/bootstrap/css/report.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">                     
                        <nav class="navbar navbar-default">
                        <div class="container-fluid">
                          <!-- Brand and toggle get grouped for better mobile display -->
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Report Manager</a>
                          </div>

                          <!-- Collect the nav links, forms, and other content for toggling -->
                          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                              <li class="active"><a href="{{ path('create_new_report', {'emp': 1 }) }}">Add Report <span class="sr-only">(current)</span></a></li>
                              <li><a href="{{ path('employee_report_view', {'emp': 2 }) }}">List Report</a></li>                              
                            </ul>
                           
                            <ul class="nav navbar-nav navbar-right">
                              <li><a href="{{ path('manager_report_viewer') }}">Manager Report Approval</a></li>
                              
                            </ul>
                          </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                      </nav>  
                     
                </div>
            </div>
           
            
              <div id="content">
                    {% block body %}{% endblock %}
              </div>
       </div>
    </body>
    {% block javascripts %}
    <script src="{{ asset('assets/jquery/jquery-3.2.1.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('assets/bootstrap/js/bootstrap.js') }}"></script>
    {% endblock %}
</html>