{% extends 'base.html.twig' %}
{% block title %}Report Manager{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">New Report Form</h2>
            {% if errors %}
            <div class="alert alert-danger">
            <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %} </ul> </div> 
            {% endif %}

              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Create</div>
            <form name="report_form" id="report-form" method="post" action="{{ path('report_log_request') }}">
                <div class="form-group">
                    <label> Report Type </label>
                    <select name="report_type_id" id="report_type_id" class="form-control" required="">
                        <option value=""> -- Choose Report --</option>
                        {% for report_type in report_types %}
                            <option {{ (app.request.request.get("report_type_id") == report_type.id) ? 'selected' : '' }} value="{{ report_type.id }}"> {{ report_type.reportTypeName }} </option>
                        {% endfor %}    
                    </select>        
                </div>
                    
                <div class="form-group">
                    <label> Report Name </label>
                    <input type="text" name="name" id="name" value="{{ app.request.request.get("name") }}" class="form-control" required="" />
                </div>
                    
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                        <label> Priority </label>
                        <select name="priority" id="priority" class="form-control">
                            <option value="high">High</option>
                            <option value="low">Low</option>
                        </select>
                        </div>
                    </div>
                </div>
                    
                <div class="form-group">
                    <label> Description </label>
                    <textarea name="description" id="description" class="form-control">{{ app.request.request.get("description") }}</textarea>
                </div> 
                    
                <div class="form-group group_1" {{ (app.request.request.get("report_type_id") == 2) ? 'style="display:block"' : 'style="display:none"' }}>
                    <label> Cause </label>
                    <textarea name="cause" id="cause" class="form-control">{{ app.request.request.get("cause") }}</textarea>
                </div> 
                    
                <div class="form-group group_2" {{ (app.request.request.get("report_type_id") == 1) ? 'style="display:block"' : 'style="display:none"' }}>
                    <label> Latitude </label>
                    <input type="text" name="latitude" id="latitude" value="" class="form-control" />
                </div> 
                
               <div class="form-group group_2" {{ (app.request.request.get("report_type_id") == 1) ? 'style="display:block"' : 'style="display:none"' }}>
                    <label> Longitude </label>
                    <input type="text" name="longitude" id="longitude" value="{{ app.request.request.get("latitude") }}" class="form-control" />
                </div>      
                    
               <div class="form-group">
                   <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <input type="hidden" name="created_by" id="created_by" value="{{ created_by }}" />
                            <input type="submit" name="save_report" id="save_report" value="Submit Report" class="btn btn-default" />
                        </div>
                   </div>
               </div>    
                        
            </form>
              </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function (){
            
          //  $(".group_1").hide();
          //  $(".group_2").hide();
            
            function switchFields(field_class, display_value) {
                if(display_value == "show") {
                    $("."+field_class).show();
                }
                else{
                    $("."+field_class).hide();
                }
            }
            $("#report_type_id").on("change",function(){
                
                report_type_id = $(this).val();
                if(report_type_id == 1) {
                    
                    switchFields("group_2","show");
                    switchFields("group_1","hide");
                    $("#cause").val("");
                    
                }
                if(report_type_id == 2) {                    
                    
                    switchFields("group_1","show");
                    switchFields("group_2","hide");
                    $("#latitude").val("");
                    $("#longitude").val("");
                }
                if(report_type_id == "") {
                    switchFields("group_2","hide");
                    switchFields("group_1","hide");
                    $("#cause").val("");
                    $("#latitude").val("");
                    $("#longitude").val("");
                }
                
            });
            
           $('#latitude').keypress(function(event) {
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                  event.preventDefault();
                }
            });
            
            $('#longitude').keypress(function(event) {
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                  event.preventDefault();
                }
            });
            
        });
    </script>
{% endblock %}
    
