{% extends 'base.html.twig' %}
{% block title %}Report Manager{% endblock %}

{% block body %}
    <div class="row">
        <h2 style="text-align: center;">Notification</h2>
        <hr/>
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info">{{ status }}</div>
        </div>
    </div>
{% endblock %}